#!/bin/sh
# {{ ansible_managed }}
## backup script for scumblr

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

date=`date +%Y-%m-%d`
dest={{ backupdir }}
[ ! -d "$dest" ] && install -d -m 0700 -o root "$dest"
destfile=$dest/backup-scumblr-$date.tar.gz

{% if scumblr_db_adapter is defined and scumblr_db_adapter == 'postgresql' %}
dirs="{{ scumblr_root }}/config"
sudo -u postgres pg_dump -c "{{ scumblr_db_database }}_{{ scumblr_rails_env }}" > $dest/pg_dump-scumblr.sql

tar czf $destfile $dirs $dest/pg_dump-scumblr.sql
rm $dest/pg_dump-scumblr.sql

{% else %}
dirs="{{ scumblr_root }}/config {{ scumblr_root }}/db"
tar czf $destfile $dirs

{% endif %}
tar tzf $destfile > /dev/null
openssl dgst -sha512 $destfile > $destfile.distinfo

